.first-box {
  border: 5px solid black;
  height: 900px,;
  width: 50rem;
  background-color: rgb(213, 241, 110);
}
.main{
 background-color: skyblue;

}

.second-box {
  border: 5px solid black;
  margin-top: 2rem;
  height: auto;
  width: 810px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  margin-bottom: 3000px;
  background-color: rgb(213, 241, 110);
}

.heading {
  text-align: center;
}

.textfield_lable {
  margin-left: 20px;
}

.text-field-division {
  padding-top: 5px;
  /* color: grey; */
  padding-bottom: 5px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 20px;
  padding-bottom: 5px;
}

.text-field-class {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  color: grey;
  padding-right: 80px;
  font-size: 20px;
  padding-bottom: 5px;
}

.text-field-gender {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  padding-right: 80px;
  color: grey;
  font-size: 20px;
  padding-bottom: 5px;
}

.text-field {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  /* padding-bottom: 5px; */
  border: 2px solid black;
  text-align: center;
}

.col-4 {
  font-size: 25px;
  margin-top: 50px;
}

.col-5 {
  margin-top: 50px;
  size: 200px;
}

.button {
  font-size: 30px;
  background-color: rgb(83, 212, 83);
  margin-top: 50px;
  margin-left: 173px;
  display: inline-flex;

}
.tables{
  border: solid black;
}
.show-button{
  font-size: 20px;  
margin-left: 600px;
background-color: rgb(83, 212, 83);
}